:root{
    --button-color: #f15e50;
    --orange-color: #e9ab53;
    --grayish-color: #c5c6ce;
    --text-color: #5d5f79;
    --color-bg-aside: #00001a;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #fffdfa;
}

p{
    font-size: 1.5rem;
    font-weight: 400;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}